<div class="todo-container todo" id="todo_<%= todo.id %>">
  <% form_id = "todo_form_#{todo.id}" %>
  <%= form_for todo, :html => { :id => form_id } do |f| %>
    <%= f.check_box :completed, :onclick => "$('##{form_id}').submit()" %>
    <span class="todo-name">
      <%= todo.todo %>
    </span>
  <% end %>
  <%= link_to '', todo_path(todo),
    method: :delete,
    class: 'fa fa-trash',
    data: { confirm: 'Are you sure you want to delete this todo?'} %>
</div>
